.circle-color {
  box-sizing: border-box;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #5ecbff 0%, #309bff 100%);
}

.radius-box {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radius-box > img {
  border-radius: 50%;
}
