:root {
  --blueColor: #1890ff;
  --colorGray: #333;
}
.demo article {
  text-align: center;
}
.demo section {
  margin: 20px auto;
  overflow: hidden;
  border: 0.5px dotted var(--blueColor);
  max-width: 700px;
  padding: 10px 40px 10px 10px;
}
.more-operate-section {
  width: 600px;
}
.more-operate-circle {
  width: 220px !important ;
  height: 300px;
}
.more-operate-section .item-title {
  color: #fff;
  float: left;
  width: 40px;
  margin: 0px 10px 10px;
  text-align: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-image: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-image: -moz-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-image: -o-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.box-center {
  margin: 0px auto;
}
.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}

.border-ccc {
  border: 1px dotted #ccc;
  border-radius: 10px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title-2 {
  text-align: center;
  width: 100px;
  margin: 10px auto;
  background: var(--blueColor);
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}
